{% assign languages = site.data[site.lang].languages %}
{% if languages %}
<section class="languages">
    <h2 class="title">{{languages.title}}</h2>
    <div class="idioms">
        {% for idiom in languages.idioms %}
        <div>
            <span class="flag-icon flag-icon-{{idiom.code}}"></span>
            <span class="idiom">
                {{idiom.name}} {{idiom.level | prepend: "(" | append: ")"}}
            </span>
        </div>
        {% endfor %}
    </div>
</section>
{% endif %}