{% assign publications = site.data[site.lang].publications %}
{% if publications %}
<section class="publications">
    <h2 class="title">{{publications.title}}</h2>
    <div class="publication-items">
        {% for pub in publications.items %}
        <div class="publication-item">
            <div class="publication-title">{{pub.title}}</div>
            <div class="authors">{{pub.authors}}</div>
            <div class="journal">
                {{pub.journal}}, ({{pub.date}})
                {%-if pub.issue-%}
                {{pub.issue | prepend: ", "}}
                {%-endif-%}
                {%-if pub.pages-%}
                {{pub.pages | prepend: ", "}}
                {%-endif-%}
                {%-if pub.DOI-%}
                , <a href={{pub.DOI}}>{{pub.DOI}}</a>
                {%-endif-%}

            </div>
        </div>
        {%endfor%}
    </div>
</section>
{% endif %}