.awards {
    .title {
        @include header;
    }

    .subtitle {
        @include sub-header;
        font-size: 18px;
        margin-bottom: 15px;
    }

    .award-items {
        .award-item {
            margin-bottom: 5px;
            font-size: 14px;
            .award-name {
                @include sub-header;
                text-decoration: none;
                color: var(--fg-color-dark);
                font-size: 14px;
                // font-weight: bold;
                // font-size: 16px;
                .award-info {
                    @include body-text;
                }
            }
        }
    }
}