.publications {
    .title {
        @include header;
    }
    .publication-items {
        .publication-item {
            margin-bottom: 12px;
            .publication-title {
                @include sub-header;
                text-decoration: none;
                font-weight: bold;
            }
            .authors {
                @include body-text;
                text-decoration: none;
                font-weight: bold;
            }

            .journal {
                @include body-text; 
            }
            .conference {
                @include body-text; 
                color: var(--fg-color-title-sm);
                font-weight: 100;
            }
        }
    }
}